force-app/main/default/flows/ALK_WT_Recomendaciones_de_Servicio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_WO_recommendaciones</name>
        <label>Update WO recommendaciones</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>For_every_WO.ALK_Recomendaciones_Generales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ALK_Service_Recommendation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_every_WO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>if the Recomendaciones de Servicio field changed</description>
        <name>is_WT_changed</name>
        <label>is WT changed</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ALK_Service_Recommendation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ALK_Service_Recommendation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_every_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ALK_WT_Recomendaciones de Servicio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK_WT_Recomendaciones de Servicio</label>
    <loops>
        <name>For_every_WO</name>
        <label>For every WO</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>getWOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_WO_recommendaciones</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO_to_DB</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getWOs</name>
        <label>getWOs</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_WT_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_to_DB</name>
        <label>Update WO to DB</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputReference>getWOs</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWOs</targetReference>
        </connector>
        <object>WorkType</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
